name: Nix Flake CI

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v23
        with:
          extra_nix_config: experimental-features = nix-command flakes

      - name: Flake check
        run: nix flake check --all-systems
